/frontend/node_modules
/frontend/.env*
!/frontend/.env.example
# vercel
/frontend/.vercel

# typescript
/frontend/*.tsbuildinfo
/frontend/next-env.d.ts

/contracts/broadcast
/contracts/cache
/contracts/contracts.env
/contracts/lib
/contracts/out

/frontend/.next